{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<style>
    .text-center {
        text-align:center;
    }
    .d-flex {
        display:flex;
        justify-content:space-between;
    }
    .container {
        width: 250px
    }
</style>

<div class="text-center">
<h1>Bienvenue dans le projet crowdin</h1>
    <div class="container">
        <div class="d-flex mt-5">
            <a class="btn btn-outline-primary" href="{{ path('app_login') }}" class="">se connecter</a>
            <a class="btn btn-primary" href="{{ path('app_register') }}">s'inscrire</a>
        </div>
    </div>
</div>
{% endblock %}
